. {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: #cacaca;
  padding: 10px;
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.items {
  background-color: #ff0037;
  color: #fff;
  font-size: 35px;
  padding: 20px;
  margin: 10px;
  flex: 1;
}
.items-1 {
}
.items-2 {
}
.items-3 {
}
.items-4 {
}
.items-1 {
}
